@media (max-width: 500px) {
  .coontainer {
    width: 100%;
    padding: 20px 15px 70px 15px;
  }
  .big-screen {
    display: none;
  }
  .plan-list__small-screen-btn {
    display: flex;
  }
  .plan-list-main {
    width: 100%;
    .plan-list {
      width: 100%;
      &__input {
        width: 90%;
      }
    }
  }
}
