.plan-list-main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .plan-list {
    width: 300px;
    background-color: rgb(255, 253, 216);
    border-radius: 20px;
    // overflow: hidden;
    position: relative;
    box-shadow: $mainShadox;
    padding-top: 10px;

    &__title {
      text-align: center;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-bottom: 10px;
      input {
        border-radius: 15px;
        font-size: 20px;
        width: 85%;
        padding: 0 15px;
        background-color: transparent;
      }
    }
    &__remove-all-btn {
      width: 28px;
      height: 28px;
      font-size: 30px;
      background-color: transparent;
      margin-top: -5px;
      color: rgb(227, 137, 137);
    }
    .done-list-tick {
      background-color: green;
    }
    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-shadow: 0px 10px 5px -8px rgba(143, 143, 143, 0.6) inset;
      padding-top: 20px;
    }

    &__field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    .disabled-field {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: calc(100% - 77px);
        height: 100%;
        background-color: rgba(0, 0, 0, 0.104);
        top: 0;
        right: 20px;
        z-index: 2;
        border-radius: 5px;
      }
    }
    &__input {
      display: block;
      height: 45px;
      font-size: 20px;
      padding-left: 5px;
      resize: inherit;
      line-height: 1;
      padding-top: 12px;
      box-shadow: $insetShadow;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.4);
    }

    &__lable {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid rgb(203, 203, 203);
      background-color: rgba(224, 222, 222, 0.7);
      cursor: pointer;
      margin-top: 7px;
      .plan-list__done-tick {
        display: none;
      }
    }
    .active-lable {
      background-color: transparent;
      border: none;
      .plan-list__done-tick {
        font-size: 30px;
        margin-top: -5px;
        color: $exListGreen;
        display: block;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $exListGreen;
      margin-top: 20px;

      cursor: pointer;
      ion-icon {
        font-size: 30px;
      }
      div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__add-btn {
      color: $exListGreen;
      background-color: rgb(229, 250, 234);
      border-bottom-left-radius: 15px;
      padding: 5px 0;
    }
    &__remove-btn {
      color: rgb(227, 137, 137);
      background-color: rgb(250, 229, 229);
      border-bottom-right-radius: 15px;
      padding: 5px 0;
    }
  }
  .plan-list__big-screen-btn {
    position: fixed;
    height: 70px;
    width: calc(calc(100% - $dashboardWidth) / 2);
    bottom: 10px;
    border-radius: 15px;
    z-index: 10;
    background-color: rgba(92, 105, 253, 0.35);
    transition: $mainTransition;
  }
  .big-screen {
    position: absolute;
    height: 50px;
    width: 100px;
    left: calc(50% - 150px);
    bottom: 10px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: $exListGreen;
    cursor: pointer;
    z-index: 2;
    // box-shadow: $mainShadox;
    box-shadow: -2px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  .plan-list__save-btn {
    left: calc(50% + 50px);
  }
  .small-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 50%;
    background-color: #fff;
    &:first-child {
      border-right: 1px solid $exListGreen;
    }
    &:last-child {
      border-left: 1px solid $exListGreen;
    }
  }
}
.plan-list__remove-list-helper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  top: 20px;
  background-color: rgb(255, 243, 180);
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  transform: translateY(-200%);
  transition: $mainTransition;
}
.plan-list__small-screen-btn {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: blue;
  box-shadow: $mainShadox;
  z-index: 10;
}
