$mainFont: "Poppins", sans-serif;
$exListGreen: rgb(137, 227, 160);
$mainShadox: 1px 1px 12px 1px #999;
$insetShadow: 0px -10px 5px -8px rgba(143, 143, 143, 0.6) inset;
$dashboardWidth: 260px;
$dashboardColor: rgb(92, 105, 253);
