/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

$mainFont: "Poppins", sans-serif;
$exListGreen: rgb(137, 227, 160);
$mainShadox: 1px 1px 12px 1px #999;
$insetShadow: 0px -10px 5px -8px rgba(143, 143, 143, 0.6) inset;
$dashboardWidth: 250px;
$dashboardColor: rgb(92, 105, 253);
body {
  font-family: $mainFont;
  height: auto;
  min-height: 100%;
}
.coontainer {
  min-height: 100%;
  margin-left: $dashboardWidth;
}
.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: $dashboardWidth;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 0 5px 0px rgb(230, 230, 230);
  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    height: 70px;
    background-color: $dashboardColor;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  ul {
    margin-top: 10px;
  }
  &__li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    gap: 40px;
    height: 50px;
    margin-bottom: 10px;
    ion-icon {
      font-size: 30px;
      background-color: $dashboardColor;
      padding: 5px;
      border-radius: 8px;
      color: #fff;
    }
    span {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: $dashboardColor;
    }
    &:hover {
      background-color: $dashboardColor;
      border-radius: 15px;
      ion-icon {
        color: $dashboardColor;
        background-color: #fff;
      }
      span {
        color: #fff;
      }
    }
  }
  .active-dashboard-li {
    position: relative;
    background-color: $dashboardColor;
    border-radius: 15px;
    ion-icon {
      color: $dashboardColor;
      background-color: #fff;
    }
    span {
      color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      right: 10px;
      top: 0;
      border: 0 solid transparent;
      border-bottom-width: 9px;
      border-top-width: 9px;
      border-left: 25px solid #fff;
      margin-top: 17.5px;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.plan-list-main {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  .plan-list {
    width: 300px;
    background-color: rgb(255, 253, 216);
    border-radius: 20px;
    // overflow: hidden;
    position: relative;
    box-shadow: $mainShadox;
    padding-top: 10px;

    &__title {
      text-align: center;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-bottom: 10px;
      input {
        border-radius: 15px;
        font-size: 20px;
        width: 85%;
        padding: 0 15px;
        background-color: transparent;
      }
    }
    &__remove-all-btn {
      width: 28px;
      height: 28px;
      font-size: 30px;
      background-color: transparent;
      margin-top: -5px;
      color: rgb(227, 137, 137);
    }
    .done-list-tick {
      background-color: green;
    }
    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-shadow: 0px 10px 5px -8px rgba(143, 143, 143, 0.6) inset;
      padding-top: 20px;
    }

    &__field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    .disabled-field {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: calc(100% - 77px);
        height: 100%;
        background-color: rgba(0, 0, 0, 0.104);
        top: 0;
        right: 20px;
        z-index: 2;
        border-radius: 5px;
      }
    }
    &__input {
      display: block;
      height: 45px;
      font-size: 20px;
      padding-left: 5px;
      resize: inherit;
      line-height: 1;
      padding-top: 12px;
      box-shadow: $insetShadow;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.4);
    }

    &__lable {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid rgb(203, 203, 203);
      background-color: rgba(224, 222, 222, 0.7);
      cursor: pointer;
      margin-top: 7px;
      .plan-list__done-tick {
        display: none;
      }
    }
    .active-lable {
      background-color: transparent;
      border: none;
      .plan-list__done-tick {
        font-size: 30px;
        margin-top: -5px;
        color: $exListGreen;
        display: block;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $exListGreen;
      margin-top: 20px;

      cursor: pointer;
      ion-icon {
        font-size: 30px;
      }
      div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__add-btn {
      color: $exListGreen;
      background-color: rgb(229, 250, 234);
      border-bottom-left-radius: 15px;
      padding: 5px 0;
    }
    &__remove-btn {
      color: rgb(227, 137, 137);
      background-color: rgb(250, 229, 229);
      border-bottom-right-radius: 15px;
      padding: 5px 0;
    }
  }
}

.exampl-list {
  display: none;
}
.example-list-field {
  display: none;
}
.big-screen {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: $exListGreen;
  cursor: pointer;
  z-index: 2;
  box-shadow: $mainShadox;
}
.plan-list__save-btn {
  bottom: 50px;
}
.message {
  position: absolute;
  width: 0;
  height: 0;
}
.plan-list__remove-list-helper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  top: 20px;
  background-color: rgb(255, 243, 180);
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  transform: translateY(-200%);
  transition: 0.5s;
}
.plan-list__small-screen-btn {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: blue;
  box-shadow: $mainShadox;
  z-index: 10;
}
.small-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 50%;
  background-color: #fff;
  &:first-child {
    border-right: 1px solid $exListGreen;
  }
  &:last-child {
    border-left: 1px solid $exListGreen;
  }
}
@import "_media";
